/* feuille de style pour les tablettes */
@media screen and (min-width: 426px){
    /*Section fonctionnement */
    section{
        ul{
            justify-content: center;
        }
    }
    
    /* Restaurants */
    .grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 200px 200px;
        justify-content: center;
        grid-template-areas:
            "header1 header1"
            "card1 card2"
            "card3 card4";
        .header1 {
            grid-area: header1;
        }
        .card1 {
            grid-area: card1;
        }
        .card2 {
            grid-area: card2;
        }
        .card3 {
            grid-area: card3;
        }
        .card4 {
            grid-area: card4;
        }
    }
}